<div class="card">
    <div class="card-body">

        <form [formGroup]="authorForm" (ngSubmit)="formatNames()">

            <div class="form-group">
                <label for="amountOfNames">Quantidade de autores</label>
                <input id="amountOfNames" class="form-control" [ngClass]="{'is-invalid':authorForm.controls.amountOfNames.invalid }" formControlName="amountOfNames" type="text" />
                <div class="invalid-feedback" *ngIf="authorForm.controls.amountOfNames.invalid">
                    Valor inválido (Número inteiro)
                </div>
            </div>
            <div class="form-group">
                <label for="names">Nome dos autores</label>
                <textarea id="names" class="form-control" [ngClass]="{ 'is-invalid': authorForm.controls.names.invalid }" formControlName="names" rows="10"
                    placeholder="Por favor, insira um autor por linha">
                </textarea>
                <div class="invalid-feedback" *ngIf="authorForm.controls.names.invalid">
                    Campo requerido.
                </div>
            </div>
            <div class="col-xs-12">
                <button class="btn btn-success" type="submit">Formatar nomes</button>
            </div>
        </form>
    </div>
</div>